# dont track these files
__pycache__
SourceCodeLatex

# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.pdf
# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

*.so
